In [77]:
import pandas as pd
import numpy as np

In [78]:
df_data = pd.read_excel("exWeather_PV_data.xlsx", sheet_name="data")
df_data.head()

,randid,Date,NOAAClimRegion,TempZone,HumidZone,bin_PlantSize_kW,plant_age_months,active_snow_tickets,snow_bin_ticket_minutes,snow_affected_assets,...,storm_affected_assets,storm_production_level,lightning,storm,duration_minutes_storm,nearest_storm,flood,duration_minutes_flood,nearest_flood,rain
0,C2S1,2018-04-01,West,T6,H4,large,19.0,No,NaN,NaN,...,NaN,Unknown,0,0.0,0,2420,0.0,0,2255,0.0
1,C2S1,2018-04-02,West,T6,H4,large,19.0,No,NaN,NaN,...,NaN,Unknown,0,0.0,0,2420,0.0,0,2255,0.0
2,C2S1,2018-04-03,West,T6,H4,large,19.0,No,NaN,NaN,...,NaN,Unknown,0,0.0,0,2420,0.0,0,2255,0.0
3,C2S1,2018-04-04,West,T6,H4,large,19.0,No,NaN,NaN,...,NaN,Unknown,0,0.0,0,2420,0.0,0,2255,0.0
4,C2S1,2018-04-05,West,T6,H4,large,19.0,No,NaN,NaN,...,NaN,Unknown,0,0.0,0,2420,0.0,0,2255,0.0

In [79]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51504 entries, 0 to 51503
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   randid                    51504 non-null  object
 1   Date                      51504 non-null  datetime64[ns]
 2   NOAAClimRegion            51504 non-null  object
 3   TempZone                  51504 non-null  object
 4   HumidZone                 51504 non-null  object
 5   bin_PlantSize_kW          51504 non-null  object
 6   plant_age_months          51356 non-null  float64
 7   active_snow_tickets       51504 non-null  object
 8   snow_bin_ticket_minutes   790 non-null    object
 9   snow_affected_assets      790 non-null    object
 10  snow_production_level     51437 non-null  object
 11  PR                        49940 non-null  float64
 12  snow_value_mm             45682 non-null  float64
 13  total_daily_snow_mm       45327 non-null  float64
 14  low_irradiation           51504 non-null  int64
 15  cumulative_snow_mm        39226 non-null  float64
 16  hurr_bin_ticket_minutes   469 non-null    object
 17  hurr_affected_assets      469 non-null    object
 18  hurr_production_level     51487 non-null  object
 19  HurricanePrep             51504 non-null  object
 20  HurricanePostInspection   51504 non-null  object
 21  hurricane                 45753 non-null  float64
 22  nearest_hurricane         51504 non-null  int64
 23  wind_speed_mean           40337 non-null  float64
 24  rain_value_mm             40703 non-null  float64
 25  nearest_rain              51504 non-null  int64
 26  storm_active_tickets      51504 non-null  object
 27  storm_bin_ticket_minutes  548 non-null    object
 28  storm_affected_assets     548 non-null    object
 29  storm_production_level    51446 non-null  object
 30  lightning                 51504 non-null  int64
 31  storm                     45753 non-null  float64
 32  duration_minutes_storm    51504 non-null  int64
 33  nearest_storm             51504 non-null  int64
 34  flood                     45753 non-null  float64
 35  duration_minutes_flood    51504 non-null  int64
 36  nearest_flood             51504 non-null  int64
 37  rain                      40703 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(8), object(18)
memory usage: 14.9+ MB

In [80]:
#Change the 0 value to NaN
df_data.loc[df_data['PR'] == 0, 'PR'] = np.nan

#Remove the target null values
df_data['PR'] = df_data['PR'].dropna()
df_data

,randid,Date,NOAAClimRegion,TempZone,HumidZone,bin_PlantSize_kW,plant_age_months,active_snow_tickets,snow_bin_ticket_minutes,snow_affected_assets,...,storm_affected_assets,storm_production_level,lightning,storm,duration_minutes_storm,nearest_storm,flood,duration_minutes_flood,nearest_flood,rain
0,C2S1,2018-04-01,West,T6,H4,large,19.0,No,NaN,NaN,...,NaN,Unknown,0,0.0,0,2420,0.0,0,2255,0.0
1,C2S1,2018-04-02,West,T6,H4,large,19.0,No,NaN,NaN,...,NaN,Unknown,0,0.0,0,2420,0.0,0,2255,0.0
2,C2S1,2018-04-03,West,T6,H4,large,19.0,No,NaN,NaN,...,NaN,Unknown,0,0.0,0,2420,0.0,0,2255,0.0
3,C2S1,2018-04-04,West,T6,H4,large,19.0,No,NaN,NaN,...,NaN,Unknown,0,0.0,0,2420,0.0,0,2255,0.0
4,C2S1,2018-04-05,West,T6,H4,large,19.0,No,NaN,NaN,...,NaN,Unknown,0,0.0,0,2420,0.0,0,2255,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51499,C3S40,2019-07-27,Southeast,T5,H4,medium,31.0,No,NaN,NaN,...,NaN,Unknown,0,0.0,0,57,0.0,0,315,0.0
51500,C3S40,2019-07-28,Southeast,T5,H4,medium,31.0,No,NaN,NaN,...,NaN,Unknown,0,0.0,0,58,0.0,0,316,0.0
51501,C3S40,2019-07-29,Southeast,T5,H4,medium,31.0,No,NaN,NaN,...,NaN,Unknown,0,0.0,0,59,0.0,0,317,0.0
51502,C3S40,2019-07-30,Southeast,T5,H4,medium,31.0,No,NaN,NaN,...,NaN,Unknown,0,0.0,0,60,0.0,0,318,0.0
51503,C3S40,2019-07-31,Southeast,T5,H4,medium,31.0,No,NaN,NaN,...,NaN,Unknown,0,0.0,0,61,0.0,0,319,0.0

In [81]:
cat_col = ['active_snow_tickets', 
           'snow_bin_ticket_minutes',
           'snow_affected_assets',
           'snow_production_level', 
           'low_irradiation', 
           'hurr_bin_ticket_minutes', 
           'hurr_affected_assets', 
           'hurr_production_level', 
           'HurricanePrep', 
           'HurricanePostInspection', 
           'hurricane',
           'storm_active_tickets',
           'storm_bin_ticket_minutes',
           'storm_affected_assets',
           'storm_production_level',
           'lightning',
           'storm',
           'flood',
           'rain']

df_data[cat_col] = df_data[cat_col].astype('category')

In [82]:
#Remove unnecessary columns
df_data = df_data.drop(columns=['randid',
                      'storm_affected_assets',
                      'hurr_affected_assets',
                      'snow_affected_assets',
                      'snow_production_level',
                      'hurr_production_level',
                      'storm_production_level',
                      'snow_bin_ticket_minutes',
                      'storm_bin_ticket_minutes',
                      'hurr_bin_ticket_minutes'])
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51504 entries, 0 to 51503
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     51504 non-null  datetime64[ns]
 1   NOAAClimRegion           51504 non-null  object
 2   TempZone                 51504 non-null  object
 3   HumidZone                51504 non-null  object
 4   bin_PlantSize_kW         51504 non-null  object
 5   plant_age_months         51356 non-null  float64
 6   active_snow_tickets      51504 non-null  category
 7   PR                       43597 non-null  float64
 8   snow_value_mm            45682 non-null  float64
 9   total_daily_snow_mm      45327 non-null  float64
 10  low_irradiation          51504 non-null  category
 11  cumulative_snow_mm       39226 non-null  float64
 12  HurricanePrep            51504 non-null  category
 13  HurricanePostInspection  51504 non-null  category
 14  hurricane                45753 non-null  category
 15  nearest_hurricane        51504 non-null  int64
 16  wind_speed_mean          40337 non-null  float64
 17  rain_value_mm            40703 non-null  float64
 18  nearest_rain             51504 non-null  int64
 19  storm_active_tickets     51504 non-null  category
 20  lightning                51504 non-null  category
 21  storm                    45753 non-null  category
 22  duration_minutes_storm   51504 non-null  int64
 23  nearest_storm            51504 non-null  int64
 24  flood                    45753 non-null  category
 25  duration_minutes_flood   51504 non-null  int64
 26  nearest_flood            51504 non-null  int64
 27  rain                     40703 non-null  category
dtypes: category(10), datetime64[ns](1), float64(7), int64(6), object(4)
memory usage: 7.6+ MB

In [83]:
df_data.describe()

,Date,plant_age_months,PR,snow_value_mm,total_daily_snow_mm,cumulative_snow_mm,nearest_hurricane,wind_speed_mean,rain_value_mm,nearest_rain,duration_minutes_storm,nearest_storm,duration_minutes_flood,nearest_flood
count,51504,51356.000000,43597.000000,45682.000000,45327.000000,39226.000000,51504.000000,40337.000000,40703.000000,51504.000000,51504.000000,51504.000000,51504.000000,51504.000000
mean,2018-11-25 01:57:22.311276800,39.707726,0.713877,1.257194,2.927878,105.063318,328.895018,3.829663,2.302144,46.778444,0.408745,1519.576460,0.606458,1624.949984
min,2018-02-22 00:00:00,-6.000000,0.000212,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2018-08-20 00:00:00,20.000000,0.708615,0.000000,0.000000,0.000000,354.000000,1.179193,0.000000,1.000000,0.000000,206.000000,0.000000,700.000000
50%,2018-11-19 00:00:00,36.000000,0.765248,0.000000,0.000000,0.000000,354.000000,1.950687,0.000000,6.000000,0.000000,2420.000000,0.000000,2255.000000
75%,2019-02-14 00:00:00,55.000000,0.814435,0.000000,0.000000,0.000000,354.000000,3.440875,0.235467,73.000000,0.000000,2420.000000,0.000000,2255.000000
max,2020-03-01 00:00:00,123.000000,1.199583,275.737309,301.904108,3614.551523,354.000000,2672.129065,278.525241,169.000000,1440.000000,2420.000000,1440.000000,2255.000000
std,NaN,25.254713,0.194733,10.556568,17.889680,396.042228,77.013566,35.112970,8.147026,66.988867,18.914858,1070.425033,25.353251,877.195268